projects/p6-media-library/n8n/workflow.json
{
  "name": "ETKM P6 — Media Library Ingest",
  "nodes": [
    {
      "id": "node-1",
      "name": "Drive \u2014 New File",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "pollTimes": {
          "item": [{"mode": "everyMinute"}]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ebim51jYgnvAwhypLKwG6f1muQzNK4Is",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REASSIGN_IN_N8N",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "node-2",
      "name": "Filter \u2014 Images Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mimeType }}",
              "operation": "contains",
              "value2": "image"
            }
          ]
        }
      }
    },
    {
      "id": "node-3",
      "name": "Drive \u2014 Download Original",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [680, 200],
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REASSIGN_IN_N8N",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "node-4",
      "name": "Code \u2014 Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200],
      "parameters": {
        "jsCode": "if (!$input.item.binary?.data?.data) {\n  throw new Error('No image binary from Drive download');\n}\nconst base64 = $input.item.binary.data.data;\nconst mimeType = $input.item.binary.data.mimeType || 'image/jpeg';\nconst promptText = `You are processing an image for East Texas Krav Maga's media library. Return ONLY valid JSON, no preamble, no markdown.\\n\\n{\\n  \"description\": \"1-2 sentence factual description of what is in the image\",\\n  \"tags\": [\"tag1\",\"tag2\",\"tag3\"],\\n  \"content_use_cases\": [\"use case 1\",\"use case 2\"],\\n  \"asset_type\": \"Image\",\\n  \"tone\": \"high-energy|calm-focus|community|instructional|real-world|confidence\"\\n}\\n\\nTag rules: assign 3-6 tags only from this list: training, demonstration, class, seminar, event, headshot, facility, equipment, group, individual, youth, adult, women, cbltac, social-ready, print-ready, web-ready, email-ready, testimonial-context, action-shot, portrait, environment, candid, posed, fight-back-etx, armed-citizen, youth-program, college-safety, private-lessons, open-enrollment, community-event, high-energy, calm-focus, community, instructional, real-world, confidence`;\nconst claudeBody = {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 1024,\n  messages: [{\n    role: 'user',\n    content: [\n      { type: 'image', source: { type: 'base64', media_type: mimeType, data: base64 } },\n      { type: 'text', text: promptText }\n    ]\n  }]\n};\nconst originalFile = $('Drive \u2014 New File').item.json;\nreturn {\n  json: {\n    originalFilename: originalFile.name || 'unknown',\n    originalFileId: originalFile.id || '',\n    claudeRequestBody: JSON.stringify(claudeBody)\n  }\n};"
      }
    },
    {
      "id": "node-5",
      "name": "Claude \u2014 Tag Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $vars.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $('Code \u2014 Prep').item.json.claudeRequestBody }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "node-6",
      "name": "Code \u2014 Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200],
      "parameters": {
        "jsCode": "const claudeResponse = $input.item.json;\nlet content;\ntry {\n  const body = typeof claudeResponse.body === 'string' ? JSON.parse(claudeResponse.body) : claudeResponse;\n  content = body.content[0].text;\n} catch (e) {\n  content = (claudeResponse.content || [{}])[0]?.text || '{}';\n}\nlet result;\ntry {\n  result = JSON.parse(content);\n} catch (e) {\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  result = JSON.parse(cleaned);\n}\nconst prepData = $('Code \u2014 Prep').item.json;\nconst driveUrl = prepData.originalFileId ? `https://drive.google.com/file/d/${prepData.originalFileId}/view` : '';\nreturn {\n  json: {\n    filename: prepData.originalFilename || 'unknown',\n    description: result.description || '',\n    tags: Array.isArray(result.tags) ? result.tags : [],\n    content_use_cases: Array.isArray(result.content_use_cases) ? result.content_use_cases : [],\n    asset_type: result.asset_type || 'Image',\n    tone: result.tone || '',\n    drive_url: driveUrl\n  }\n};"
      }
    },
    {
      "id": "node-7",
      "name": "Notion \u2014 Create Record",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1560, 200],
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "9d79095f-e24a-4490-8fd5-42922196c58f",
          "mode": "id"
        },
        "title": "={{ $json.filename }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Asset Type",
              "type": "select",
              "selectValue": "={{ $json.asset_type }}"
            },
            {
              "key": "Description",
              "type": "richText",
              "textContent": "={{ $json.description }}"
            },
            {
              "key": "Tags",
              "type": "multiSelect",
              "multiSelectValue": "={{ $json.tags.join(',') }}"
            },
            {
              "key": "Content Use Cases",
              "type": "multiSelect",
              "multiSelectValue": "={{ $json.content_use_cases.join(',') }}"
            },
            {
              "key": "Drive URL",
              "type": "url",
              "urlValue": "={{ $json.drive_url }}"
            },
            {
              "key": "Source",
              "type": "select",
              "selectValue": "Drive"
            },
            {
              "key": "Status",
              "type": "select",
              "selectValue": "Active"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "REASSIGN_IN_N8N",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Drive \u2014 New File": {
      "main": [
        [{"node": "Filter \u2014 Images Only", "type": "main", "index": 0}]
      ]
    },
    "Filter \u2014 Images Only": {
      "main": [
        [{"node": "Drive \u2014 Download Original", "type": "main", "index": 0}],
        []
      ]
    },
    "Drive \u2014 Download Original": {
      "main": [
        [{"node": "Code \u2014 Prep", "type": "main", "index": 0}]
      ]
    },
    "Code \u2014 Prep": {
      "main": [
        [{"node": "Claude \u2014 Tag Image", "type": "main", "index": 0}]
      ]
    },
    "Claude \u2014 Tag Image": {
      "main": [
        [{"node": "Code \u2014 Parse Response", "type": "main", "index": 0}]
      ]
    },
    "Code \u2014 Parse Response": {
      "main": [
        [{"node": "Notion \u2014 Create Record", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["ETKM", "P6", "media-library"],
  "triggerCount": 0,
  "versionId": "4"
}
